
/* body */
body
{
    text-align: center;
    background: whitesmoke;
}

.back-image
{
    border-radius: 50%;
    margin: 10px;
}

/* h1 */
h1
{
    margin: 60px 0;
    color:rgba(2, 61, 2, 0.925);
}

/* color codes div */
.colors
{
    font-size: 0.7em;
    margin: 30px 0;
}

.colors div
{
    margin: 40px 0;
}

.colors em
{
    margin: 5px 10px;
}

.colors span
{
    width: 1%;
    padding: 10px;
    margin: 0 5px;
    border-radius: 30px;
}

#blue
{
    background-color: rgba(2, 57, 65, 0.904);
}
#green
{
    background-color: green;
}
#orange
{
    background-color: orange;
}
#red
{
    background-color: red;
}
#brown
{
    background-color: rgba(165, 42, 42, 0.945);
}
#darkbrown
{
    background-color: rgba(53, 28, 0, 0.932);
}
#skyblue
{
    background-color: skyblue;
}
#purple
{
    background-color: purple;
}
#whitesmoke
{
    background-color: whitesmoke;
}
#darkblue
{
    background-color: darkblue;
}

/* table/table data */
table
{
    margin: 0 auto 45px;
}

th
{
    font-size: 1.2em;
}

td
{
    text-align: center;
}

th, td
{
    padding: 10px 30px;
    font-weight: bold;
}